:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --hover-color-button: #188CE8;
  --logo-color-header: #000000;
  --social-link-color: #AFB1B8;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --background-filter-button: #F5F4FA;
  --hero-background-color: #C4C4C4;
  --cards-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --cards-border-radius: 0px 0px 4px 4px;
  --button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --button-border-radius: 4px;
  --card-set-gap: 30px;
  --social-icon-color: #AFB1B8;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.logo--header-color {
  color: var(--logo-color-header);
}

.nav-list__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.nav-list__link--current::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.page-header__nav-list {
  margin-left: auto;
}

.nav-list_link--primary-color {
  color: var(--primary-text-color);
}

.nav-list_link--primary-color:hover, .nav-list_link--primary-color:hover:focus {
  color: var(--accent-color);
}

.nav-list_icon {
  margin-right: 10px;
  fill: currentColor;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.page-title {
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.button {
  min-width: 200px;
  height: 50px;
  margin: auto;
  padding: 10px 16px;
  border-radius: var(--button-border-radius);
  border: none;
  box-shadow: var(--button-box-shadow);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--hover-color-button);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-background-color);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: var(--button-border-radius);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--background-filter-button);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1*var(--card-set-gap));
  margin-top: calc(-1*var(--card-set-gap));
}

.card-set__item {
  flex-basis: calc(100%/3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-set__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-set__overlay {
  position: relative;
  overflow: hidden;
}

.card-set__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--third-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover .card-set__description {
  transform: translateY(0%);
}

.card-set__content {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.card-set__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-background-color);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus .modal-btn-close__icon,
.modal-btn-close:hover .modal-btn-close__icon {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--button-border-radius);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus, .contact-form__input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form__icon,
.contact-form__input:hover + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__message {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--button-border-radius);
  resize: none;
}

.contact-form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
}

.checkbox__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--secondary-text-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
}

.checkbox__input:checked + .checkbox__label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox__label--accent-color {
  color: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__logo {
  margin-right: 0;
}

.logo--footer-color {
  color: var(--third-text-color);
}

.address-list {
  margin-top: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__link--change-color {
  font-style: normal;
  color: var(--third-text-color);
}

.footer-social {
  margin-right: auto;
  margin-left: 70px;
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.social-list--footer-color {
  color: var(--third-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social .social-list__item:not(:last-child) {
  margin-right: 10px;
}

strong {
  display: block;
}

.footer-form {
  /* margin-left: 93px; */
  justify-content: flex-end;
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.footer-form__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--third-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.footer-form__button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon_send.svg);
  background-size: contain;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-size: cover;
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-bottom: var(--card-set-gap);
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--third-text-color);
}

.advantagest {
  display: flex;
  align-items: center;
  margin-left: calc(-1*var(--card-set-gap));
  margin-top: calc(-1*var(--card-set-gap));
}

.advantagest__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantagest__item {
  flex-basis: calc(100%/4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.advantagest__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--card-set-gap);
  width: 270px;
  height: 120px;
  background-color: var(--third-background-color);
  border-radius: 4px;
}

.advantagest__icon {
  width: 70px;
  height: 70px;
}

.section--services-padding {
  padding-top: 0;
}

.services {
  display: flex;
  align-items: center;
  flex-basis: calc(100%/3 - var (--card-set-gap));
}

.services__item {
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.services__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--third-text-color);
}

.section--team-background {
  background-color: var(--third-background-color);
}

.team-member-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(-1*var(--card-set-gap));
  margin-left: calc(-1*var(--card-set-gap));
}

.team-member {
  flex-basis: calc(100%/4 - var (--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  border-radius: var(--cards-border-radius);
  box-shadow: var(--cards-box-shadow);
  background-color: var(--primary-background-color);
}

.team-member_thumb {
  padding: var(--card-set-gap);
  text-align: center;
}

.team-member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(-1*var(--card-set-gap));
}

.clients {
  margin-left: var(--card-set-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-link-color);
  border-radius: var(--button-border-radius);
  color: var(--social-link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */