.advantagest {
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 768px) {
        display: flex;
       
        flex-wrap: wrap;
        margin-left: calc(-1*var(--card-set-gap));
        margin-top: calc(-1*var(--card-set-gap));

    }
   
}

.advantagest__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;

    }
    

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100%/2 - var(--card-set-gap));
        margin-left: var(--card-set-gap);
        margin-top: var(--card-set-gap);

    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc(100%/4 - var(--card-set-gap));
        margin-left: var(--card-set-gap);
        margin-top: var(--card-set-gap);

    }


}

.advantagest__title {
    margin-bottom: 10px;
    @include font (14px, 1.14, 00.03em);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    color: var(--secondary-text-color);
    
}



.advantagest__thumb {
    display: flex;
    align-items: center;
    justify-content: center;


    margin-bottom: var(--card-set-gap);
    height: 120px;
    background-color: var(--third-background-color);
    border-radius: 4px;

      
    @media screen and (min-width: $desktop) {
                     
        width: 270px;
          
    }
   
}

.advantagest__icon {
    width: 70px;
    height: 70px;
}