.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
    margin-top: calc(-1*var(--card-set-gap));
    margin-left: calc(-1*var(--card-set-gap));

    @media screen and (min-width:$desktop) {
        margin-top: 0px;
    }
    
}

.clients {
    flex-basis: calc(100%/2 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100%/3 - var(--card-set-gap));

    }

    @media screen and (min-width:$desktop) {
        margin-top: 0px;
    }
    
}

.clients__link {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    
   
    border: 1px solid var(--social-link-color);
    border-radius: var(--button-border-radius);

    color: var(--social-link-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $desktop) {
        width: 170px;
     
    }

    &:hover,
    &:focus {
    
        border-color: var(--accent-color);
    }

}

.clients__icon {
    fill: currentColor;

    width: 106px;
    height: 60px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: var(--accent-color);
    }
}