.section--team-background {
    background-color: var(--third-background-color);
}

.team-member-list {
    @media screen and (min-width:$tablet) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: calc(-1*var(--card-set-gap));
        margin-left: calc(-1*var(--card-set-gap));

    }
   
}

.team-member {
    border-radius: var(--cards-border-radius);
    box-shadow: var(--cards-box-shadow);
    background-color: var(--primary-background-color);

    @media screen and (max-width: 767px){
        margin-bottom: var(--card-set-gap);
    }

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100%/2 - var(--card-set-gap));
        margin-top: var(--card-set-gap);
        margin-left: var(--card-set-gap);
             
    }

    @media screen and (min-width: $desktop){
        flex-basis: calc(100%/4 - var(--card-set-gap));
        margin-top: var(--card-set-gap);
        margin-left: var(--card-set-gap);

    }
    
}

.team-member__image {
    @media screen and (min-width: $mobile){
        width: 450px;
        height: 460px;

    }
    

    @media screen and (min-width: $tablet){
        width: 354px;
        height: 374px;
    }
}

.team-member_thumb {
    padding: var(--card-set-gap);

    text-align: center;
    
}

.team-member__title {
    margin-bottom: 10px;

    font-weight: 500;
    @include font (16px, 1.19, 00.03em);
    
    color: var(--secondary-text-color);
}

.team-member__position {
    margin-bottom: 16px;

    @include font (16px, 1.19, 00.03em);

}