.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--card-set-gap));
    margin-top: calc(-1*var(--card-set-gap));
}

.card-set__item {
    flex-basis: calc(100%/3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.card-set__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}



.card-set__overlay {
    position: relative;
    overflow: hidden;
}

.card-set__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

    padding: 63px 24px;

    background: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.56;

    color: var(--third-text-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-set__link:hover & {
        transform: translateY(0%);
    
    }
}



.card-set__content {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

}

.card-set__title {
    font-weight: 700;
    @include font (18px, 2, 00.06em);
   
    color: var(--secondary-text-color);
}

.card-set__text {
    margin-top: 4px;

    @include font (16px, 1.87, 0.03em);

    color: var(--primary-text-color);

}