.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-background-color);

}

.page-footer__container {
   
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
        
    }
   
}
.footer-tablet {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;

    }
}

.footer-address {
    @media screen and (max-width: 1199px) {
               
        text-align: center;
        margin-bottom: 60px;

    }    
}

.page-footer__logo {
    margin-right: 0;

}

.logo--footer-color {
    color: var(--third-text-color);

}

.address-list {
    margin-top: 20px;

}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;

}

.address-list__link {
    font-style: normal;
    
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-list__link--change-color {
    font-style: normal;
    
    color: var(--third-text-color);

}

.footer-social {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: $desktop) {
             
        margin-right: auto;
        margin-left: 70px;
}
    
}

.footer-social__title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--third-text-color);
}

.social-list--footer-color {
    color: var(--third-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-social .social-list__item:not(:last-child) {
    margin-right: 10px;
}

strong {
    display: block;
}

.footer-form__title {

    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    color: var(--third-text-color);

    @media screen and (min-width: $desktop) {
        text-align: start;
        
    }

}

.footer-form__wrapper {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    
}

.footer-form__input {
    display: block;
   
    height: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
       
    color: var(--third-text-color);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    background-color: var(--secondary-background-color);

    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (min-width: $desktop) {
        width: 358px;
        margin: 0;
        
    }
    
    &::placeholder {
        @include font (16px, 1.25, 0.03em);
    
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media screen and (min-width: $desktop) {
        margin-left: 12px;
    }
 
    &::after {
        content: '';
    
        width: 24px;
        height: 24px;
        margin-left: 10px;
    
        background-image: url(../images/icon_send.svg);
        background-size: contain;
    }
}

