.logo {

        font-family: Raleway,
        sans-serif;
        font-style: normal;
        font-weight: 700;
        @include font (24px, 1.17, 00.03em);

        color: var(--accent-color);

        @media screen and (min-width: $tablet){
            margin-right: 88px;
        }
          
        @media screen and (min-width:$desktop) {
        margin-right: 93px;
        @include font(26px, 1.19, 00.03em);

    }
    
   
    

}