.modal {
    position: absolute;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);

    background-color: var(--primary-background-color);

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;

    }

}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    border-radius: 50%;
    background: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus .modal-btn-close__icon,
    &:hover .modal-btn-close__icon {
        fill: var(--accent-color);
    }
}

.modal__title {
    margin-bottom: 12px;
    width: 100%;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: var(--secondary-text-color);
}