.page-title {
    margin-bottom: var(--card-set-gap);
    @include font (28px, 1.18, 00.03em);
    
    font-weight: 700;
    text-align: center;

    color: var(--secondary-text-color);

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
                
        @include font (36px, 1.17, 0.03em);
          
    }
    
}